@use "./variables/index";
@use "reset-css";

.body {
    background: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);

    @include index.variables;
}
