---
import bem from "easy-bem";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import index from "../data/index.json";
import Hero from "../components/index/Hero.astro";
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import Services from "../components/index/Services.astro";
import Benefits from "../components/index/Benefits.astro";
import Trust from "../components/index/Trust.astro";
import Reviews from "../components/index/Reviews.astro";

const cn = bem("index-page");
---

<BaseLayout
    headProps={{
        ...index.head,
        keywords: index.head.keywords.join(", "),
    }}
>
    <Navbar />
    <Main class:list={cn()}>
        <Hero class:list={cn("hero")} />
        <Services class:list={cn("services")} />
        <Benefits class:list={cn("benefits")} />
        <Trust class:list={cn("trust")} />
        <Reviews class:list={cn("reviews")} />
    </Main>
    <Footer />
</BaseLayout>

<style lang="scss">
    .index-page {
        min-height: unset;
    }
</style>
