@mixin variables {
    // text
    --color-text-primary: #121212;
    --color-text-contrast: #fff;
    --color-text-secondary: #6f6f6f;
    --color-text-link: #00a5c2;

    // brand
    --color-brand-main: #0095ff;
    --color-brand-light: #98d4ff;
    --color-brand-secondary: #f50;

    // background
    --color-background-primary: #fff;
    --color-background-generic: rgb(31 27 16 / 5%);

    // line
    --color-line-base: #e1e1e1;
}
