@mixin variables {
    --text-font-family-primary: "Inter Variable", sans-serif;
    --text-font-family-secondary: "Dela Gothic One", system-ui;

    // Display
    --text-font-size-display-1: 40px;
    --text-font-weight-display-1: 500;
    --text-line-height-display-1: auto;

    // Heading
    --text-font-size-heading-2: 24px;
    --text-font-weight-heading-2: 700;
    --text-line-height-heading-2: auto;
    --text-font-size-heading-3: 16px;
    --text-font-weight-heading-3: 400;
    --text-line-height-heading-3: auto;

    // Text
    --text-font-size-body-1: 14px;
    --text-font-weight-body-1: 400;
    --text-line-height-body-1: 16px;

    // Caption
    --text-font-size-caption-1: 10px;
    --text-font-weight-caption-1: 400;
    --text-line-height-caption-1: auto;
    --text-letter-spacing-caption-1: auto;

    @media (width > 768px) {
        //  Caption
        --text-font-size-caption-1: 14px;
        --text-font-weight-caption-1: 400;
        --text-line-height-caption-1: 16px;
        --text-letter-spacing-caption-1: -0.04rem;
    }
}
