@mixin variables {
    --text-font-family-primary: "Inter Variable", sans-serif;
    --text-font-family-secondary: "Dela Gothic One", system-ui;

    // Display
    --text-font-size-display-1: 46px;
    --text-font-weight-display-1: 700;
    --text-line-height-display-1: 49px;
    --text-letter-spacing-display-1: -0.05em;

    // Heading
    --text-font-size-heading-2: 24px;
    --text-font-weight-heading-2: 700;
    --text-line-height-heading-2: auto;
    --text-font-size-heading-3: 16px;
    --text-font-weight-heading-3: 400;
    --text-line-height-heading-3: auto;

    // Text
    --text-font-size-body-1: 14px;
    --text-font-weight-body-1: 400;
    --text-line-height-body-1: 16px;

    // Caption
    --text-font-size-caption-1: 10px;
    --text-font-weight-caption-1: 400;
    --text-line-height-caption-1: auto;
    --text-letter-spacing-caption-1: auto;

    @media (width > 768px) {
        // Display
        --text-font-size-display-1: 60px;
        --text-line-height-display-1: 1;

        // Heading
        --text-font-size-heading-2: 36px;
        --text-line-height-heading-2: 43px;
        --text-font-size-heading-3: 20px;
        --text-line-height-heading-3: 22px;

        // Text
        --text-font-size-body-1: 16px;
        --text-line-height-body-1: 20px;

        //  Caption
        --text-font-size-caption-1: 14px;
        --text-line-height-caption-1: 16px;
        --text-letter-spacing-caption-1: -0.04em;
    }
}
