---
import type { HTMLAttributes } from "astro/types";
import bem from "easy-bem";

interface Props extends HTMLAttributes<"button"> {
    href?: string;
    size?: "l";
    view?: "primary";
}

const cn = bem("button");

const {
    href,
    size = "l",
    view = "primary",
    class: className,
    ...props
} = Astro.props;

const classList = [cn({ size: size, view: view }), className];
---

{
    href ? (
        <a class:list={classList} href={href} {...props}>
            <slot />
        </a>
    ) : (
        <button class:list={classList} {...props}>
            <slot />
        </button>
    )
}

<style lang="scss">
    .button {
        --button-font-size: inherit;
        --button-font-weight: inherit;
        --button-line-height: inherit;

        display: inline-block;
        padding: var(--button-padding);
        border-radius: var(--button-border-radius);
        background: var(--button-background);
        color: var(--button-color);
        line-height: var(--button-line-height);
        text-decoration: none;
        font-weight: var(--button-font-weight);
        font-size: var(--button-font-size);
        transition: background-color 0.1s ease;

        &--size {
            &_l {
                --button-font-size: 20px;
                --button-font-weight: 600;
                --button-border-radius: 4px;
                --button-padding: 20px 40px;
            }
        }

        &--view {
            &_primary {
                --button-background: var(--color-background-contrast);
                --button-color: var(--color-text-contrast);
                --button-background-hover: var(
                    --color-background-contrast-hover
                );
            }
        }

        &:hover,
        &:focus-within {
            --button-background: var(--button-background-hover);
        }
    }

    @media (width > 768px) {
        .button {
            &--size {
                &_l {
                    --button-font-size: 24px;
                    --button-padding: 24px 48px;
                    --button-border-radius: 8px;
                }
            }
        }
    }
</style>
