---
import type { HTMLAttributes } from "astro/types";
import bem from "easy-bem";
import Chevron from "../assets/icons/chevron.svg";

const cn = bem("details");

interface Props extends HTMLAttributes<"details"> {
    summaryClassName?: string;
    containerClassName?: string;
}

const ICON_SIZE = 12;

const {
    class: className,
    summaryClassName,
    containerClassName,
    ...props
} = Astro.props;
---

<details class:list={[cn(), className]} {...props}>
    <summary class:list={[cn("summary"), summaryClassName]}>
        <span class:list={cn("text")}>
            <slot name="summary-content" />
        </span>
        <Chevron class:list={cn("icon")} size={ICON_SIZE} />
    </summary>
    <div class:list={[cn("container"), containerClassName]}>
        <slot name="content" />
    </div>
</details>

<style lang="scss">
    .details {
        --details-summary-gap: 8px;

        cursor: pointer;

        &__summary {
            display: flex;
            align-items: center;
            gap: var(--details-summary-gap);
            list-style: none;
        }

        &__icon {
            transform: rotate(180deg);
            transition: transform 0.1s linear;
        }
    }

    .details[open] .details__icon {
        transform: rotate(0);
    }
</style>
