---
import type { HTMLAttributes } from "astro/types";
import bem from "easy-bem";

interface Props extends HTMLAttributes<"main"> {}
const { class: className, ...props } = Astro.props;

const cn = bem("main");

const classList = [cn(), className];
---

<main class:list={classList} {...props}>
    <slot />
</main>

<style lang="scss">
    .main {
        margin-top: var(--navbar-height);
        min-height: var(--main-min-height);
    }
</style>
