---
import type { HTMLAttributes } from "astro/types";
import bem from "easy-bem";
import { reviews } from "../data/reviews.json";
import Card from "./Card.astro";

interface Props extends HTMLAttributes<"div"> {}

const cn = bem("reviews-widget");

const { class: className, ...props } = Astro.props as Props;
---

<div class:list={[cn(), className]} {...props}>
    <Card class:list={cn("content")}>
        <iframe
            class:list={cn("iframe")}
            loading="lazy"
            src={reviews.iframe.src}
            title={reviews.iframe.title}></iframe>
        <a class:list={cn("link")} href={reviews.link.href} target="_blank">
            {reviews.link.text}
        </a>
    </Card>
</div>

<style lang="scss">
    .reviews-widget {
        --reviews-widget-content-max-width: 720px;
        --reviews-widget-content-height: 800px;
        --reviews-widget-link-bottom: 8px;
        --reviews-widget-link-padding: 0 16px;
        --reviews-widget-link-max-height: 14px;
        --reviews-widget-link-color: #b3b3b3;
        --reviews-widget-link-font-size: 10px;
        --reviews-widget-link-font-family: "YS Text", sans-serif;

        &__content {
            position: relative;
            width: 100%;
            max-width: var(--reviews-widget-content-max-width);
            height: var(--reviews-widget-content-height);
            overflow: hidden;
        }

        &__iframe {
            width: 100%;
            height: 100%;
        }

        &__link {
            position: absolute;
            bottom: var(--reviews-widget-link-bottom);
            left: 0;
            display: block;
            padding: var(--reviews-widget-link-padding);
            width: 100%;
            max-height: var(--reviews-widget-link-max-height);
            overflow: hidden;
            color: var(--reviews-widget-link-color);
            text-align: center;
            text-decoration: none;
            font-size: var(--reviews-widget-link-font-size);
            font-family: var(--reviews-widget-link-font-family);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
</style>
