---
import Head, { type Props as HeadProps } from "../../components/Head.astro";
import "../../styles/index.scss";

interface Props {
    headProps: HeadProps;
}

const { headProps } = Astro.props;
---

<!doctype html>
<html lang="ru">
    <Head {...headProps} />
    <body class="body">
        <slot />
    </body>
</html>
